@charset "utf-8";

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

/* html */
html {
    background-color: #f0f0ff;
    color: #000000;
}

/* Header */
#header {
    height: 70px;
    width: auto;

    background-color: #ffffff;
}

/* Thumbnail */
#thumbnail {
    height: auto;
    width: 100%;

    background: linear-gradient(90deg, #8ecdf2, #1e6bb8);
}
#thumbnail-img {
    width: 80%;
    max-width: 960px;
    height: auto;

    margin: 0 auto;
}
