@charset "utf-8";

/* Import */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* HTML */
html {
    color: #000000;
    background-color: #ffffff;

    font-family: "DM Sans", sans-serif;
}

/* Header */
#header {
    height: 70px;
    width: auto;  
    
    padding: 10px 4%;

    display: flex;
    justify-content: space-between;
    align-items: center; 

    position: sticky;
    top: 0;

    background-color: #ffffff;
    box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.5);
}
#header-logo {
    height: 50px;
}
#header-lang-selecter {
    height: 40px;
    width: 140px;

    padding: 0 10px;

    background-image: url(../images/lang_selecter_arrow.png);
    background-size: 25px;
    background-position: right 10px center;

    font-size: 22px;
    font-weight: 500;
    
    cursor: pointer;
    outline: none;

    border-bottom: 4px solid #3f3f3f;
}

/* Thumbnail */
#thumbnail {
    height: auto;
    width: 100%;

    display: flex;
    justify-content: space-between;

    padding: 0 20px;

    background: linear-gradient(45deg, #8ecdf2, #4a9ee6);
}
#thumbnail-img {
    height: auto;
    width: 70%;
    max-width: 960px;
}
.thumbnail-btn-wrapper {
    height: 80px;
    width: 80px;

    position: relative;

    margin: auto 0;
}
.thumbnail-btn-wrapper.left {
    transform: rotate(180deg);
}
.thumbnail-btn-bg {
    height: 80px;
    width: 80px;

    position: absolute;
    top:0;
    left:0;

    opacity: 0.6;
}
.thumbnail-btn-arrow {
    height: 80px;
    width: 80px;

    position: absolute;
    top:0;
    left:0;
}

/* Main */
#main {
    margin-top: 50px;
}
#main-title-wrapper {
    text-align: center;
}
#main-title {
    font-family: "Anton", sans-serif;
    font-size: 55px;
    font-weight: 400;
    color: #4a9ee6;
}
#main-title-ul {
    width: 80%;
    max-width: 1080px;

    margin: 0 auto;

    border-bottom: #4a9ee6 solid 8px;
}
#main-search-box-wrapper {
    width: 600px;

    display: flex;
    justify-content: center;

    border: #000000 solid 2px;
    border-radius: 100vh;

    margin: 60px auto;
}
#main-search-btn {
    height: 40px;

    margin: auto 0;
}
#main-search-box {
    height: 60px;
    width: 520px;

    padding-left: 5px;
    padding-right: 20px;
    
    font-size: 25px;
    font-weight: 600;
    color: #000000;

    outline: none;
}

/* Articles */
#articles-wrapper {
    max-width: 1200px;

    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-items: center;
}
.article {
    height: 280px;
    width: 240px;

    margin: 20px 30px;
    padding: 10px 10px;

    background-size: 240px 160px;
    background-position: top;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);

    border-radius: 1vh;
}
.article:hover {
    opacity: 0.7;
    cursor: pointer;
}
.article-heading {
    margin-top: 160px;

    font-size: 25px;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}










/* Popup */
.article-close-popup { /* 枠外を押したら閉じる */
    height: 100vh;
    width: 100vw;

    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;

    background-color: gray;
    opacity: 0.5;
}
.article-popup { /* ポップアップ本体 */
    --height: 480px;
    --width: 80%;
    max-width: 1200px;

    z-index: 101;
    position: fixed;
    top : calc(50vh - calc(var(--height) / 2));
    left : calc(50vw - calc(var(--width) / 2));
    height : var(--height);
    width : var(--width);

    overflow: hidden;
    border-radius: 10vh;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);

    background-color: #ffffff;
}
.article-popu-content { /* ポップアップの中身 */
    padding: 20px;
    text-align: center;
}





/* Hide Popup */
.article-popup-cb {
    display: none;
}
.article-popup-cb:not(:checked) + .article-close-popup {
    display:none;
}
.article-popup-cb:not(:checked) + * + .article-popup {
    display: none;
}










#a01 {
    background-image: url(../images/articles/a01.jpg)
}
#a02 {
    background-image: url(../images/articles/a02.jpg)
}
#a03 {
    background-image: url(../images/articles/a03.jpg)
}
#a04 {
    background-image: url(../images/articles/a04.webp)
}
#a05 {
    background-image: url(../images/articles/a05.jpg)
}
#a06 {
    background-image: url(../images/articles/a06.jpg)
}
#a07 {
    background-image: url(../images/articles/a07.jpg)
}
#a08 {
    background-image: url(../images/articles/a08.jpg)
}
#a09 {
    background-image: url(../images/articles/a09.jpg)
}
#a10 {
    background-image: url(../images/articles/a10.jpg)
}
